.App {
  text-align: center;
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

.home-header {
  background-color: #282c34;
  color: white;
  padding: 20px;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.card {
  background: #f8f9fa;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 100px;
  width: 250px;
  text-align: center;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.home-footer {
  background-color: #282c34;
  color: white;
  padding: 40px;
  margin-top: auto;
}

.home-footer a {
  color: #61dafb;
  text-decoration: none;
}

.home-footer a:hover {
  text-decoration: underline;
}
